* {
    font-family: 'Finlandica', sans-serif;
    background-color: #d9d9d9;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    color: black;
    text-shadow: 1px 1px 2px #313027;
    scroll-behavior: smooth;
}
h1, h2 {
    font-weight: bold;
}
.logo_topper {
    font-size: 42px;
    margin-top: 20px;
}

p {
    font-weight: bold;
    font-size: 18px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 80px;
    max-width: 1200px;
}
.main {
    max-width: 720px;
}
a {
    text-decoration: none;
}
.nav__list {
    list-style: none;
    display: flex;
    font-weight: bolder;
}

.nav__link {
    margin-left: 20px;
    margin-top: 40px;
    padding: 6px;
}
.nav__link--primary {
    border: 2px solid black;
    border-radius: 4px;
}
.nav__link:hover {
    text-decoration: underline;
}
.nav__link--primary:hover {
    text-decoration: none;
}
.landing {
    max-width: 80%;
    padding: 24px;
    text-align: center;
}
.landing-img {
    max-width: 400px;
    margin-top: 30px;
    border-radius: 10%;
    box-shadow: 1px 1px 3px #313027;
    margin-bottom: 50px;
}

.info__body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.book__selection, .fivestarwrapper {
   max-width: 700px;
   display: flex;
}
.book-img {
    max-width: 110px;
    margin: 10px 30px;
}
.fivestarwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fivestars{
    margin: 0 28px 30px;
    max-width: 110px;
}
.books__andstars {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
}
button:active {
    transform: translateY(1px);
}
.infopara {
    max-width: 600px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
}
.pagebottom{
    display: flex;
    margin: 40px;
}

/* page two css */
.searchbar input[type=text] {
    display: flex;
    margin-top: 32px;
    padding: 6px;
    border: 1px solid black;
    font-size: 17px;
    background-color: antiquewhite;
}

.BackToMain {
display: flex;
margin-top: 42px;
}
.BackToMain:hover {
    text-decoration: underline;
}
.about_para {
    max-width: 500px;
    margin-top: 60px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
}
.About_Header {
    display: flex;
    flex-direction: column;
}
