* {
    font-family: 'Finlandica', sans-serif;
    background-color: #DBF8F4;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

h1, h2 {
    font-weight: bold;
    color: #9AAB8D;
    text-shadow: 1px 1px 2px #999;
}
h2{
    margin-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 80px;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__link {
    text-decoration: none;
    margin-left: 20px;
    color: #9AAB8D;
}
.landing {
    max-width: 80%;
    padding: 24px;
    text-align: center;
}
.landing-img {
    max-width: 400px;
    margin-top: 30px;
    border-radius: 10%;
    box-shadow: 1px 1px 3px #999;
    margin-bottom: 50px;
}

.info__body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.book__selection{
   max-width: 700px;
   display: flex;
}
.book-img {
    max-width: 100px;
    margin: 10px 30px;
}
.fivestarwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fivestars{
    margin: 0 30px;
}